.room-body {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.room-bar {
    width: 100%;
}

.message {
    height: 84.8vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
 
.inputbox {
    position: relative;
    height: 5vh;
}

form {
    position: relative;
}
.edit{
    position: absolute;
    border-top: 0.5px solid #999;
    border-left: 0.5px solid #999;
    border-right: 0.5px solid #999;
    border-bottom: 0px solid #999;
    width: 10vw;
    left: 3%;
    bottom: 10%;
    border-radius: 1rem 1rem 0rem 0rem;
    text-align: center;
}
.form-input-edit {
    position: absolute;
    left: 3%;
    width: 75vw;
    height: 30px;
    border-radius: 0 1rem 1rem 1rem;
    font-size: 14px;
    padding-left: 1%;
    color: #333;
    border: 0.5px solid #999;
    outline: none;
}

.form-input {
    position: absolute;
    left: 3%;
    width: 75vw;
    height: 30px;
    border-radius: 1rem;
    font-size: 14px;
    padding-left: 1%;
    color: #333;
    border: 0.5px solid #999;
    outline: none;
}

.form-btn {
    position: absolute;
    right: 3%;
    top: 6px;
    border: 0;
    outline: none;
    background: none;
    font-size: 14px;
    color: rgb(48, 114, 255);
    cursor: pointer;
    font-weight: bold;
}