<div class="container">
    <div class="login">
        <div class="login-left">
            <div class="login-title">
                <h1>
                    Welcome come to
                </h1>
                <h1 class="cursor-text">
                    Angular & Firebase chatroom 
                    <div class="cursor"></div>
                </h1>
            </div>
            <div class="login-body">
                <p>You can use google or github to log in.</p>
                <div class="login-icon">
                    <button class="google" (click)="login()">
                        <img src="../../assets/image/google.png" alt="">
                    </button>
                    <button class="github">
                        <img src="../../assets/image/github.png" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="login-right">
            <img src="../../assets/image/sapiens.png" alt="">
        </div>
    </div>
</div>
