<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chatroom">
        <div class="chatlist">
            <div class="chatlist-title">聊天室</div>
            <friend></friend>
        </div>
        <div class="main">
            <!-- <div class="main-title">聊天室窗</div> -->
            <app-room></app-room>
        </div>
    </div>
</body>
</html>
