<style>
    .message-main{
        display: flex;
        justify-content: start;
        margin-left: 1%;
        margin-top: 2%;
    }
    .local-main{
        justify-content: end;
    }
    .local-body{
        box-shadow: 3px 3px 10px rgb(65, 65, 65);
        order: -1;
    }
    .local-img{
        margin-left: 15px;
    }
    .message-body{
        max-width: 30%;
		background-color: #888;
        color: #fff;
		padding: 16px;
		border-radius: 10px;
        word-wrap:break-word;
        box-shadow: 3px 3px 10px rgb(65, 65, 65);
    }
    .message-img{
        margin-right: 15px;
        display: flex;
        align-items: flex-end;
    }
    .message-img img{
        width: 50px;
        border-radius: 50%;
    }
</style>
<div *ngFor="let message of messageList" class="message-main" [class.local-main] = "name == 'local'">
    <div class="message-img" [class.local-img] = "name == 'local'"><img src="{{img[1]}}" alt=""></div>
    <div class="message-body" [class.local-body] = "name == 'local'">
      {{message.message}}
    </div>
</div>
